<%= form_with model: [:administration, admin_review] do |form| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="form-label"> Prénom :</div>
          <%= form.text_field :first_name %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="form-label"> Nom de famille :</div>
          <%= form.text_field :last_name %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="form-label"> Email :</div>
          <%= form.text_field :email %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-4">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="form-label"> Commentaire :</div>
          <%= form.text_field :comment %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div class="form-label"> Status :</div>
          <%= form.select :status, options_for_select(AdminReview.statuses.invert, params[:status] | form.object) %>
        </div>
      </div>
    </div>
  </div>
  <%# form.hidden_field :admin_id, params[:admin_id] %>
  <%# form.hidden_field :reviewable_id, params[:reviewable_id] %>
  <%# form.hidden_field :reviewable_type, params[:reviewable_type]%>
  <div class="text-center mt-4">
    <%= form.submit %>
  </div>
<% end %>
