  <img src="" class="card-img-top" alt="..." title=<%=restaurant.name%>>
  <h5 class="card-title text center"><strong><%= restaurant.name  %></strong></h5>
    <div class="row flex-column">
      <p class="card text">Type de cuisine : <%= restaurant.kitchen %></p>
      <p class="card-text">Végétarien ?<%= is_vegan(restaurant) %></p>
      <p class="card-text"> Localisation</p>
      <p class="card-text"> Numero de rue : <%= restaurant.location.street_number %> <%= restaurant.location.address %></p>
      <p class="card-text"> Ville : <%= restaurant.city.name %></p>
      <p class="card-text"> Zip_code : <%= restaurant.location.zip_code %></p>
    </div>
