
<div class="container">
  <div class="center">
    <h1 class="my-4"><%= restaurant.name  %></h1>

    <p><%= restaurant.kitchen %></p>
    <p><%= is_vegan(restaurant) %></p>

    <br>
    <p><%= restaurant.location.street_number %> <%= restaurant.location.address %></p>
    <p><%= restaurant.location.zip_code %></p>
    <p><%= restaurant.city.name %></p>
  </div>
</div>
