<div class="container">
  <div class="center">

    <div>

      <%= form_tag restaurants_path, method: 'get' do %>
        <div class="input-group">
          <%= label_tag :name, "Rechercher par nom :" %>
          <%= search_field_tag :name, nil, placeholder: "Nom du restaurant", class: "form-control" %>
        </div>
        <div class="input-group">
          <%= label_tag :city, "Rechercher par ville" %>
          <%= collection_select :restaurant, :city_id, City.all.order('name ASC'), :id, :name, { include_blank: 'Selectionner une ville' } %>
        </div>
        <div class="input-group">
          <%= label_tag :vegan, "Vegan ?" %>
          <%= check_box_tag 'vegan', true %>
        </div>
        <div class="input-group-btn">
          <%= button_tag "Rechercher un restaurant", name: nil %>
        </div>
      <% end %>
    </div>

    <% restaurants.each do |result| %>
      <%= render 'restaurants/list', restaurant: result %>
    <% end %>
  </div>
  
</div>
