<div class="container">
  <div class="center">

    <div>

      <%= form_tag(restaurants_path, method: 'get') do %>
        <div class="input-group">
          <%= label_tag :name, "Rechercher par nom" %>
          <%= search_field_tag :name, nil, placeholder: "Rechercher", class: "form-control" %>
        </div>
        <div class="input-group">
          <%= label_tag :city_restaurants, "Rechercher par ville" %>
           <%= collection_select :city_restaurants, :city_id, City.all.order('name ASC'), :id, :name, {include_blank: 'Selectionner une ville'} %>
        </div>
        <div class="input-group">
          <%= label_tag :vegan, "Vegan ?" %>
          <%= check_box_tag 'vegan', true %>
        </div>
        <div class="input-group-btn">
            <%= button_tag "Rechercher un restaurant", name: nil  %>
        </div>
      <% end %>
    </div>
<% if @results != nil %>
<h3>Résultats de la recherche</h3>

<% @results.each do |result| %>
  <%= render 'restaurant', restaurant: result  %>
<% end %>

<% end %>
    <h1 class= "my-4">Liste des Restaurants</h1>
    <% restaurants.each do |restau| %>
      <h4><%= restau.name %></h4>
      <p><%= link_to "Voir les détails du restaurant", restaurant_path(restau) %></p>
    <% end %>
  </div>
</div>
