<div class="container">
  <%= form_tag restaurants_path, method: 'get' do %>
    <div class="d-flex justify-content-around mt-4 border">
      <div class="p-2">
        <%= label_tag :name, "Rechercher par nom :" %>
        <%= search_field_tag :name, nil, placeholder: "Nom du restaurant", class: "form-control-sm" %>
      </div>
      <div class="p-2">
        <%= label_tag :vegan, "Végétarien ?" %>
        <%= check_box_tag :vegan, true %>
      </div>
      <div class="p-2">
        <%= label_tag :city_id, "Rechercher par ville" %>
        <%= collection_select :restaurant, :city_id, City.all.order('name ASC'), :id, :name, { include_blank: 'Selectionner une ville' } %>
      </div>
      <div class="p-2">
        <%= button_tag "Rechercher un restaurant", name: nil %>
      </div>
  <% end %>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
    <% restaurants.each do |restaurant| %>
      <%= render 'restaurants/list', restaurant: restaurant %>
    <% end %>
  </div>
</div>
